header {
  border: 3px sold orange;
  background-color: orange;
  height: max-content;
  display: flex;
}

#Logo {
  background-color: #c2e016;
  color: royalblue;
  font-size: large;
  width: max-content;
  height: max-content;
  padding: 30px;
}

#Logo p {
  font-size: 42px;
  font-weight: 600;
  text-align: center;
  margin: auto;
}

#Nav {
  display: flex;
  justify-content: space-around;
}

#Nav__Menu {
  display: flex;
  justify-content: stretch;
}

#Nav .Sign {
  width: max-content;
  margin-left: 2px;
  background-color: royalblue;
}

#Nav .Sign a {
  border: 1px solid blue;
  padding: 3px 10px 5px;
}
